<br/>

<div>
    <table class="table">
        <tr>
            <th translate>display name</th>
            <th translate>host</th>
            <th translate></th>
            <th translate> </th>
            <th translate> </th>
        </tr>
        <tr ng:repeat="siptrunk in siptrunks">
            <td>{{siptrunk.name}}</td>
            <td>{{siptrunk.host}}</td>
            
            <td class="list-group">
                <button class="btn btn-default" ng:click="edit(siptrunk)">
                    <i class="fas fa-pen"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-default" ng:click="remove(siptrunk)">
                    <i class="fa fa-remove"></i>
                </button>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng:click="add()" translate>Add</button>

    <dialog ng:show="showDetails">
        <div class="modal-header">
            <h4 ng:show="!$parent.add_new"><span translate>Modify</span> {{$parent.edit_siptrunk.name}}</h4>
            <h4 ng:show="$parent.add_new"><span translate>Add new siptrunk </span></h4>
        </div>
        <div class="modal-body">
            <form class="form-group" ng:submit="save()">
                <table class="table">
                    <tr>
                        <td>
                            <span translate>Trunk name: </span>
                        </td>
                        <td>
                            <input class="form-control" type="text" ng:model="$parent.edit_siptrunk.name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>Username: </span>
                        </td>
                        <td>
                            <input class="form-control" type="text" ng:model="$parent.edit_siptrunk.username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>Password: </span>
                        </td>
                        <td>
                            <input class="form-control" type="password" ng:model="$parent.edit_siptrunk.password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>Host: </span>
                        </td>
                        <td>
                            <input class="form-control" type="text" ng:model="$parent.edit_siptrunk.host">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>Port: </span>
                        </td>
                        <td>
                            <input class="form-control" type="text" ng:model="$parent.edit_siptrunk.port">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <span translate>Transport: </span>
                        </td>
                        <td>
                            <select class="form-control" ng:model="$parent.edit_siptrunk.transport">
                                <option value="transport-udp" selected>udp</option>
                                <option value="transport-tcp">tcp</option>
                            </select>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>Dtmfmode: </span>
                        </td>
                        <td>
                            <select class="form-control" ng:model="$parent.edit_siptrunk.dtmfmode">
                                <option value="rfc4733" selected>rfc4733</option>
                                <option value="inband">inband</option>
                                <option value="info">info</option>
                                <option value="auto">auto</option>
                                <option value="auto_info">auto_info</option>
                            </select>
                        </td>
                    </tr>
                    
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="reset" ng:click="reset()" class="btn btn-default btn-flat pull-right" translate>Cancel</button>
            <button type="submit" ng:click="save()" class="btn btn-default btn-flat pull-right" ng:show="!$parent.add_new" translate>Save</button>
            <button type="submit" ng:click="saveNew()" class="btn btn-default btn-flat pull-right" ng:show="$parent.add_new" translate>Save</button>
        </div>
    </dialog>
</div>
